/*--------------------------------Defaults--------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #d89179; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #d89179 33%, #ffd5a3 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #d89179 33%, #ffd5a3 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #d89179 33%, #ffd5a3 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #d89179 33%, #ffd5a3) 100%; /* Standard syntax */
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
  font-family: Montserrat, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  }

.wrapper {
  background: #232324;
  font-size: 1.6em;
  padding: 2em;
  margin: 6.2rem auto;
  width: 80rem;
  height: 200rem;
}

.title-text {
      color: #FFF;
}
.content-text {
  color: #737373;
}

.clean-list {
  display: inline-block;
  list-style: none;
}

a, a:hover, a:visited {
  text-decoration: none;
}



/*--------------------------------Header--------------------------------*/

header {
  margin: 1em;
  display: block;
}

/*----------------Nav-Left----------------*/
#nav_left{
  float: left;
}
#title {
  display: inline-block;
  float: left;
  font-weight: 400;
}

#bell {
  float: left;
  padding: .5rem 0 .5rem 2rem;
}
#nofos {
  float: left;
  background: #D62423;
  border-radius: 50%;
  margin: .3em .6em;
  text-align: center;
  height: 1.4rem;
  width: 1.4rem;

}
#nofos a {
  color: #fff;
  font-size: .8em;
  padding: 50% 0;

}

/*----------------Nav-Search----------------*/
#nav_search {
  float: left;
}

.search-container {
  width: 40rem;
  display: block;
  margin: 0 auto 0 2rem;
}

input#search_bar {
  background: #2E2E2F;
  margin: 0 auto;
  width: 100%;
  height: 2rem;
  padding: 0 20px;
  font-size: 1rem;
  border: none;
  border-radius: .2rem;
  outline: none;
}
input#search_bar:focus {
  color: #FFF;
  border: none;
  color: #737373;
  transition: 0.35s ease;
}

input#search_bar::-webkit-input-placeholder {
  color: #737373;
  font-weight: bold;
}
input#search_bar:focus::-webkit-input-placeholder {
  color: #737373;
  font-weight: bold;
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search_bar:focus::-moz-placeholder {
  color: #737373;
  font-weight: bold;
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search_bar:focus:-ms-placeholder {
  color: #737373;
  font-weight: bold;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 1rem;
  height: 1rem;
  top: -1.7rem;
  right: 1rem;
  font-size: 1.1em;
}

.search-container a i {
  color: #737373;
}
.search-container a:hover i {
  color: #FFF;
}


/*----------------Nav-Right----------------*/

#nav_right {
float: right;
}

#avatar {
margin: 0 1rem 0 3rem;
  position: relative;
  top: -0.2rem;
}

.round {
  display:block;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  overflow: hidden;
  /*padding:5px 4px;*/
}

.ye {
  position: relative;
    top: -0.3em;
    left: -3.85em;
  height: auto;
  width: 10rem;
}
